// GENERAL
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.navbar {
    padding: {
        left: 50px;
        right: 50px;
    }
}

.small-divider {
    height: 1px;
    width: 20px;
    background-color: rgba(50, 50, 50, .2);
    margin: 10px auto 10px;
}

.btn-midradius {
    border-top-left-radius: 20px; 
    border-bottom-right-radius: 20px;
}


// NAVBAR
.greeting {
    position: absolute;
    right: 60px;
    top: 65px;
}

// BO - HOMEPAGE
.card-heading {
    width: 300px;
    font-weight: 900;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// MEDIA QUERIES
